<html>
    <% if(rate){%>
        <p>success <br><a href="/display?_id=<%=_id%>"><button>Home</button></a></p>
    <% }else{ %>
        You have rated this restaurant <br><a href='/'><button>Home</button></a>
    <% } %>
</html>