<link rel="stylesheet" href="css/new.css">
<div class="container">  
  <form id="contact" action="/search" method="post" enctype="multipart/form-data">
    <h3>Search Restaurant</h3>
    <fieldset>
      <input placeholder="Restaurant Id" type="text" name="id" tabindex="1"autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Owner" type="text" name="owner" tabindex="1">
    </fieldset>
    <fieldset>
      <input placeholder="Name" type="text" name="name" tabindex="1">
    </fieldset>
    <fieldset>
      <input placeholder="Borough" type="text" name="borough" tabindex="2">
    </fieldset>
    <fieldset>
      <input placeholder="Cuisine" type="text" name="cuisine" tabindex="2">
    </fieldset>
    <fieldset>
      <input placeholder="street" type="text" name="street" tabindex="4">
    </fieldset>
    <fieldset>
      <input placeholder="building" type="text" name="building" tabindex="4">
    </fieldset>
    <fieldset>
      <input placeholder="zipcode" type="text" name="zipcode" tabindex="4">
    </fieldset>
    <fieldset>
      <input placeholder="GPS Coordinates (lon.)" name="lon" type="text" tabindex="4">
    </fieldset>
    <fieldset>
      <input placeholder="GPS Coordinates (lat.)" name="lat" type="text" tabindex="4">
    </fieldset>
    <fieldset>
      Photo: <input name="filetoupload" type="file">
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>